<h1>Stupid Coach</h1>

<h3> <%= @question %> </h3>

<h3> <%= @answer %> </h3>

<!-- Display the question  -->
<!-- Display you  -->

<!-- Display the answer  -->
<!-- Display Your Coach -->


<%= link_to "Ask again", ask_path %>
